{% load static %}

<footer class="py-5 footer">
    <div class="container">
        <div class="row">
            <div class="col-2 col-adat">
                <a href="{% url 'jobapp:about' %}" class="nav-link link-light px-4">О компании</a>
            </div>
        
            <div class="col-2 col-adat">
                <a href="#" class="nav-link link-light px-4">Поиск вакансий</a>
            </div>
        
            <div class="col-2 col-adat">
                <a href="{% url 'jobapp:news' %}" class="nav-link link-light px-4">Новости</a>
            </div>

            {% if user.is_authenticated %}
            <div class="col-2 offset-4 col-adat">
                <a href="{% url 'users:logout' %}" class="nav-link link-light px-4 login-color">Выйти</a>
            </div>
            {% else %}
            <div class="col-2 offset-4 col-adat">
                <a href="{% url 'users:login' %}" class="nav-link link-light px-4 login-color">Войти</a>
            </div>
            {% endif %}
            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p class="p-color">© 2023 WorkFinder</p>
            </div>
        </div>
    </div>
</footer>