{% load static %}

<div class="header">
    <img class="main-back" src="{% static 'img/hero_1.png' %}" alt="#">
    <div class="header-content">
        <h1 class="header-name">Работа в сфере IT</h1>
        <div class="row">
            <div class="col-12">
                <form method="get" action="{% url 'jobapp:search_result' %}">
                    <div class="mb-3">
                        <label for="job_title_or_company_name" class="label"></label>
                        <input type="text" id="job_title_or_company_name" name="job_title_or_company_name"
                               class="form-control form-width" placeholder="Job title, Company...">
                    </div>

                    <button type="submit" class="btn btn-custom">Найти работу</button>
                </form>
            </div>
        </div>
    </div>
</div>