{% load static %}

<div class="header">
    <img class="main-back" src="{% static 'images/hero_1.png' %}" alt="#">
    <div class="header-content">
        <h1 class="header-name">Работа в сфере IT</h1>
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="mb-3">
                        <label class="label"></label>
                        <input class="form-control form-width">
                    </div>
                    <button type="submit" class="btn btn-custom">Найти работу</button>
                </form>
            </div>
        </div>
    </div>
</div>