{% extends 'base.html' %}

{% block title %}
    About
{% endblock title %}

{% block content %}
<div class="container py-5">
    <h1 class="py-5">Контакты</h1>
    <p>телефон: 8(999)123-12-12</p>
    <p>email: workfinder@mail.com</p>
    <div class="py-4">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5838f140e9f4da36e965df4d879f280e81be2e071ca712d6b297f272a923acbb&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    </div>
{% endblock content %}
