{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="ajax_listing_paginattion" class="site-section services-section bg-light block__62849" id="next-section">
  <div class="container">
    <div class="row py-5">
      <h1 class="py-5">Список резюме</h1>

      {% if user.role == 'employee' %}
      <div>
        <a href="{% url 'users:add-resume' %}" class=" btn btn-outline-danger my-5">Создать резюме</a>
      </div>
      {% endif %}

      {% for resume in page_obj %}
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
        <a href="{% url 'users:resume-single' resume.user_id %}" class="block__16443 min-h text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-magnet d-block"></span></span>
          <h3>{{ resume.title }}</h3>
          <ul class="job-listing-meta list-unstyled pl-3 mb-0">
            <li class="menu-fix mb-2">
              {% if job.job_type == '1' %}
              <span class="badge badge-primary">
                Full Time
              </span>
              {% elif job.job_type == '2'%}
              <span class="badge badge-danger">
                Part Time
              </span>
              {% else  %}
              <span class="badge badge-info">
                Internship
              </span>
              {% endif %}</li>
            <li class="badge badge-secondary menu-fix mb-2"> {{ job.location }}</li>
          </ul>
          <p>{{ job.description | safe | truncatechars:150}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
    {% include 'jobapp/paginator.html' %}

  </div>
</section>

{% endblock content %}