{% extends 'base.html' %} {% load static %}

<body id="top">
  {% block content %}
  <div class="container text-center">
    <table class="table">
      {% for i in resume %}
     
      <tbody>
        <tr>
          <th scope="row">Название резюме</th>
          <td>{{i.title}}</td>
        </tr>
        {% if i.photo %}
        <tr>
          <th scope="row">Фото</th>
          <td><img src="{{ i.photo.url }}" alt="" height="80", width="100"/></td>
        </tr>
        {% endif %}
        <tr>
          <th scope="row">Имя соискателя</th>
          <td>{{i.name}} {{i.surname}}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{i.user.email}}</td>
        </tr>
        {% if i.date_birth %}
        <tr>
          <th scope="row">Дата рождения</th>
          <td>{{i.date_birth}}</td>
        </tr>
        {%endif%}
        {% if i.home_town %}
        <tr>
          <th scope="row">Место проживания</th>
          <td>{{i.home_town|default_if_none:""}}</td>
        </tr>
        {% endif %}
        {% if i.phone_num %}
        <tr>
          <th scope="row">Номер телефона</th>
          <td>{{i.phone_num}}</td>
        </tr>
        {% endif %}
        {% if i.position %}
        <tr>
          <th scope="row">Желаемая должность</th>
          <td>{{i.position}}</td>
        </tr>
        {% endif %}
        {% if i.salary %}
        <tr>
          <th scope="row">Желаемая зарплата</th>
          <td>{{i.salary}}</td>
        </tr>
        {% endif %}
        {% if i.skills %}
        <tr>
          <th scope="row">Навыки</th>
          <td>{{i.skills}}</td>
        </tr>
        {% endif %}
        {% if i.about_me %}
        <tr>
          <th scope="row">О себе</th>
          <td>{{i.about_me}}</td>
        </tr>
        {% endif %}
      </tbody>
      {% endfor %}
    </table>
    {% if experience %}
    <div class="header-h1">
      <h1>Опыт работы</h1>
    </div>
    <table class="table">
      {% for e in experience %}
      <tbody>
        {% if e.company %}
        <tr>
          <th scope="row">Компания</th>
          <td>{{e.company}}</td>
        </tr>
        {% endif %}
        {% if e.position %}
         <th scope="row">Должность</th>
          <td>{{e.position}}</td>
        </tr>
        {% endif %}
        {% if e.start_date %}
        <tr>
          <th scope="row">Дата начала работы</th>
          <td>{{e.start_date}}</td>
        </tr>
        {% endif %}
        {% if e.end_date %}
        <tr>
          <th scope="row">Дата окончания работы</th>
          <td>{{e.end_date}}</td>
        </tr>
        {% endif%}
        {% if e.responsibilities %}
        <tr>
          <th scope="row">Обязанности на рабочем месте</th>
          <td>{{e.responsibilities}}</td>
        </tr>
        {% endif %}
        
      </tbody>
      {% endfor %}
    </table>
    {% endif %}
      

    <br />
    {% if education %}
    <div class="header-h1">
      <h1>Образование</h1>
    </div>

    <table class="table">
      {% for ed in education %}
      <tbody>
        {% if ed.university %}
        <tr>
          <th scope="row">Университет</th>
          <td>{{ed.university}}</td>
        </tr>
        {% endif %}
        {% if ed.faculty %}
        <tr>
          <th scope="row">Факультет</th>
          <td>{{ed.faculty}}</td>
        </tr>
        {% endif%}
        {% if ed.specialization %}
        <tr>
          <th scope="row">Специализация</th>
          <td>{{ed.specialization}}</td>
        </tr>
        {% endif %}
        {% if ed.graduation_year %}
        <tr>
          <th scope="row">Дата выпуска</th>
          <td>{{ed.graduation_year}}</td>
        </tr>
        {% endif%}
      </tbody>
      
   
      {% endfor %}
    </table>
    {% endif %}
   
  </div>
    {%endblock %}

</body>